<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Caroline and Mark in the wild</title>
<meta name='robots' content='noindex, nofollow'>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<link rel="shortcut icon" href="static/img/favicon.ico">
<title>Slideshow gallery in a marker tooltip</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
<script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src="static/js/mapping.js"></script>
<link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
<link href='static/style.css' rel='stylesheet'/>
</head>
<body>

<div class='sidebar'>
  <div class='heading'>
    <h1>Our stops</h1>
  </div>
  <div id='listings' class='listings'></div>
</div>
<div id='map'></div>

<script>

  L.mapbox.accessToken =  '{{ MAPBOX_ACCESS_TOKEN }}';
  var map = L.mapbox.map('map')
    .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

  var pointData = {{ data | tojson | safe }};
  pointData.features.forEach(function(point, i){
    point.properties.id = i;
    point.properties.popupContent = generatePopupContent(point);
  });

  let loadRouteData = async () => makeRoute(pointData.features);
  loadRouteData()

  L.geoJSON(pointData, {
      onEachFeature: onEachFeature
  }).addTo(map);

  buildLocationList(pointData);

  $('#map').on('click', '.popup .cycle a', function() {
      var $slideshow = $('.slideshow'),
          $newSlide;

      if ($(this).hasClass('prev')) {
          $newSlide = $slideshow.find('.active').prev();
          if ($newSlide.index() < 0) {
              $newSlide = $('.image').last();
          }
      } else {
          $newSlide = $slideshow.find('.active').next();
          if ($newSlide.index() < 0) {
              $newSlide = $('.image').first();
          }
      }

      $slideshow.find('.active').removeClass('active').hide();
      $newSlide.addClass('active').show();
      return false;
  });
  map.setView([39.74149, -102.44501], 4);

</script>
</body>
</html>
